
</br>
</br>

<p align="left"><b style="font-size:18px">
Featured Projects
</b></p>

<p align="center"><b style="font-size:18px">
Featured Projects
</b></p>

<p align="right"><b style="font-size:18px">
Featured Projects
</b></p>
</br>
<div>
	<p align="Left">
		
		<a href="https://community.element14.com/search?q=*&category=#serpauthor=323116&serpgroup=358&serpcategory=blog" target="_blank"><img src="assets/images/projects/magnetics_proj.jpeg" height="116px" width="200px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://community.element14.com/products/roadtest/rv/roadtest_reviews/1482/summer_of_fpgas_max7" target="_blank"><img src="assets/images/projects/rt_proj.jpeg" height="116px" width="200px" /></a>
		&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;
	</p>
</div>

<div>
	<p align="center">
		
		<a href="https://community.element14.com/search?q=*&category=#serpauthor=323116&serpgroup=358&serpcategory=blog" target="_blank"><img src="assets/images/projects/magnetics_proj.jpeg" height="116px" width="200px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://community.element14.com/products/roadtest/rv/roadtest_reviews/1482/summer_of_fpgas_max7" target="_blank"><img src="assets/images/projects/rt_proj.jpeg" height="116px" width="200px" /></a>
		&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;
	</p>
</div>

<div>
	<p align="right">
		
		<a href="https://community.element14.com/search?q=*&category=#serpauthor=323116&serpgroup=358&serpcategory=blog" target="_blank"><img src="assets/images/projects/magnetics_proj.jpeg" height="116px" width="200px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://community.element14.com/products/roadtest/rv/roadtest_reviews/1482/summer_of_fpgas_max7" target="_blank"><img src="assets/images/projects/rt_proj.jpeg" height="116px" width="200px" /></a>
		&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;
	</p>
</div>