</br>
</br>
<div>
	<p align="center">
		<a href="https://community.element14.com/search?q=*&category=#serpauthor=323116&serpgroup=358&serpcategory=blog" target="_blank"><img src="assets/images/projects/magnetics_proj.jpeg" height="116px" width="200px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://community.element14.com/products/roadtest/rv/roadtest_reviews/1482/summer_of_fpgas_max7" target="_blank"><img src="assets/images/projects/rt_proj.jpeg" height="116px" width="200px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://github.com/NavadeepGaneshU/redpitaya_student_tryout" target="_blank"><img src="assets/images/projects/redpitaya_proj.png" height="116px" width="200px" /></a>
		&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;
	</p>
</div>