---
layout: default
title: About
---

<div style="text-align: justify">
	<h1>Hi there, I'm Navadeep!</h1>
	<p>I am a hobbyist electronics + software developer and a tinkerer.</p>

	<p> Graduating from <a href="https://www.msruas.ac.in/">Ramaiah University of Applied Sciences</a>, Bengaluru in Electrical Engineering, I currently work at <a href="https://www.astrome.co">Astrome </a> in the electronic design domain. 
		My interests lie around Embedded Systems and Power Electronics. Occasionally, RF and Quantum stuffs fascinate me (yes, the Starlink, 6G and CERN).
	</p>
	
	<p>
		Taking up an undergraduate course in Electrical Engineering, with the curiosity to explore engineering domains and go hands-on, during my first year I worked as a Hardware IoT intern with an AgriTech startup for devising agricultural sensors. Then, as a research
		intern at the Centre for Energy, IIT Guwahati and went on working with a bunch of startups in climate tech and battery systems domain, all-hands electronics! I am interested working in an environment having a mix of research and implementation factor around ideas. 
		Thoroughly enjoying this for 5+ year now, I am also an active member at a bunch of technical communities including <a href="https://community.element14.com/members/navadeepganeshu">Element14 Community</a> and <a href="http://developers.community/">DevHeads</a> where I involve in building theme projects, discussions and RoadTest programs.
	</p>

	<p>
		The amusement to all stuff dates back to my very childhood days. This brings back intense nostalgia - fiddling with what's inside the toys, breaking apart portable lamps at home and relentlessly experimenting by trial and error. 
		I write blogs related to technology and my random musings here at <a href="https://navadeepganeshu.github.io/blog/"> Blogs Page!</a>.
	</p>

	<br>

	<p>	   
		Info: I am compiling a list of go-to resources related to Electrical/Electronics for anyone to get started, learn and design <a href="https://docs.google.com/document/d/1F6QD4pwdFm0BHOtuB9GgOoCscusBkHyD78baEDBf7_U/edit?usp=sharing">EE_Resources_Chart_V0</a> (still in drafty stage and contributions are appreciated!)
	</p>
	
</div> <!-- /.blurb -->
<br>

<!-- carousels:
- images: 
  - image: /assets/images/blog/collage_iday_ride.jpg
  - image: /assets/images/blog/cycling_poster.jpg
- images: 
  - image: /assets/images/blog/me_twitter_angad.jpg
  - image: /assets/images/blog/techy_poster.jpg

---
gallery_a: [/assets/images/blog/collage_iday_ride.jpg, /assets/images/blog/cycling_poster.jpg]

---
{% include carousel.html height="50"
   unit="%" duration="7" images=gallery_a %}  


{% include carousel.html height="50" unit="%" duration="7" number="1" %}  

{% include carousel.html height="50" unit="%" duration="7" number="2" %}   -->